* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

header h1 {
  margin: 0;
}

header a {
  text-decoration: none;
  margin-left: 10px;
}

header a.active {
  text-decoration: underline;
}

main {
  min-height: calc(100vh - 123px);
}

footer {
  height: 50px;
  text-align: center;
}
